html, body {
    height: 100%;
    margin: 0;
}

body {
    background: rgb(251, 151, 8);
    background: linear-gradient(90deg, rgba(251, 151, 8, 1) 0%, rgba(252, 177, 48, 1) 41%, rgba(0, 151, 181, 1) 100%);
}

button {
    border: 4px solid black;
    border-radius: 22px;
    font-size: 3em;
    width: 8em;
    padding: 0.5em;
    margin: 0.3em;
}

button:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.correct {
    transition: background 0.25s ease-in-out;
    background-color: #00c206 !important;
}

.wrong {
    transition: background 0.2s ease-in-out;
    background-color: #d90000 !important;
}

.ans_group {
    text-align: center;
}

.ans_group button {
    background-color: #fae9c0;
    color: black;
    text-align: left;
    padding-left: 1em;
}

.ans_group button:hover {
    background-color: #d9caa7;
}

.vibration {
    animation: shake 0.5s;
}

.blur-filter > *:not(#retry_menu) {
    filter: blur(5px);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game {

}

#start_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 0 auto;
}

#start_btn:hover {
    background-color: #0067b5;
}

#settings_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 5% auto;
}

#settings_btn:hover {
    background-color: #0067b5;
}

#credits_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 0 auto;
}

#credits_btn:hover {
    background-color: #0067b5;
}

#question {
    font-size: 4em;
    text-align: center;
}

#question_block {
    display: block;
}

#answers_block {

}

#retry_menu {
    width: 200px;
    height: 200px;
    margin: 0;
    background-color: grey;
    border-radius: 22px;
    z-index: 1;
}

#overlay-filter {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: -1; /* changing this to 0 will make the start menu unclickable */
}

#overlay-filter.show {
    opacity: 0.5 !important;
    z-index: 0 !important; 
}

@keyframes shake {
    10%,90% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20%,80% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30%,50%,70% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40%,60% {
        transform: translate(1px, -1px) rotate(1deg);
    }
}